.book{
    width:150px;
    height:225px;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.topBody{
    border-radius:10px;
    border-color:black;
    border-style:solid;
    background-color: brown;
    width:100px;
    height:auto;
    display:flex;
    flex-direction:column;
    transform: translateY(90px);
    overflow:hidden;
}

.bookView{
    display:flex;
    flex-direction: column;
    justify-content: center;
}